<template>
   <div class="window">
    <router-view/>
  </div>
 
</template>

<style>
html,
body{
  color:white;
     margin: 0;
  padding: 0;
background: radial-gradient(circle, rgba(64,12,103,1) 0%, rgba(90,9,121,1) 23%, rgba(0,172,255,1) 100%);
height: 100vh;
}

.window {
 
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

  padding: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1.15em;
}
.box {
  text-align: center;
}
.text {
  font-size: 40px;
  font-weight: normal;
  margin-top: 30px;
}
.header,
.form-number {
  margin-bottom: 50px;
}
.header {
  margin-top: 50px;
  font-size: 38px;
  font-weight: 600;
}
.form-label {
  font-size: 32px;
  font-weight: 200;
}
.form-number {
  width: 400px;
  height: 55px;
  padding: 20px;
  margin-top:15px;
  box-sizing: border-box;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  border-radius:30px;
background-color:rgba(92, 85, 122, 0.61);
border: white solid;
}
.call-button,
.call-button-bottom {
  width: 400px;
  height:50px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 50px;
  border:white solid;
  cursor: pointer;
  border-radius: 20px;
  margin: 100px auto;
}

.call-button-bottom {
  margin-top: 300px;
}
.call-button:hover {
  filter: brightness(80%);
}
.error {
  border: 1px solid #ff0000;
  background: rgb(255, 170, 170);
}


</style>
